---
const { source, className } = Astro.props;

import pkg from "react-icons/io5/index.esm.js";
const { IoLogoTwitter, IoMail } = pkg;

const { twitter, email } = source;
---

<ul class={className}>
  {
    twitter && (
      <li>
        <a
          class="hover-transition hover:text-main-blue"
          aria-label="twitter"
          href={twitter}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoTwitter size={20} />
        </a>
      </li>
    )
  }
  {
    email && (
      <li>
        <a
          class="hover-transition hover:text-main-blue"
          aria-label="email"
          href={`mailto:${email}`}
        >
          <IoMail size={20} />
        </a>
      </li>
    )
  }
</ul>
