---
import Base from "@layouts/Base.astro";
---

<Base title="404" meta_title="404">
  <main class="mb-12 flex items-center justify-center">
    <div class="space-y-4 p-4 text-center">
      <h1 class="text-30px font-medium">
        404 - <span class="font-normal">Uh oh. This page doesn't exist.</span>
      </h1>
      <a aria-label="Back to home"
        class="hover-transition mx-auto flex w-36 items-center justify-center rounded-xl bg-main-blue py-3 font-medium text-light-blue hover:bg-main-blue/90"
        href="/">Back to home</a
      >
    </div>
  </main>
</Base>
