---
import Base from "@layouts/Base.astro";
import { BsStars } from "react-icons/bs/index";
import { TbChevronDown } from "react-icons/tb/index";
---

<Base
  title="Bundle"
  meta_title="Bundle"
  description="Unlock boundless design possibilities with our Mega Bundle - a curated collection of 500+ stunning template kits. Buy now and get instant access to the entire collection."
>
  <main class="mb-12 w-full space-y-12 p-5 sm:p-4">
    <section
      class="flex flex-col items-center justify-center gap-3 text-center"
    >
      <h1 class="text-30px font-medium">
        500+ Template Kits for Limitless Creativity!
      </h1>
      <p class="mx-auto w-[600px] leading-relaxed sm:mx-0 sm:w-full">
        Unlock boundless design possibilities with our Mega Bundle - a curated
        collection of 500+ stunning template kits. Buy now and get instant
        access to the entire collection.
      </p>
      <p class="flex items-center justify-center gap-2">
        <BsStars className="text-yellow-500" size={20} />
        Limited time offer - <span
          class="flex items-center justify-center gap-2 text-2xl font-medium text-main-blue"
          >FREE<span
            class="text-base text-dark-blue/50 line-through dark:text-light-blue/50"
            >$49</span
          ></span
        >
      </p>
      <a
        aria-label="Get the Bundle"
        class="lemonsqueezy-button hover-transition rounded-xl bg-gradient-to-tr from-cyan-500 via-purple-500 to-pink-500 p-4 font-medium text-light-blue shadow-2xl shadow-purple-500/60 hover:opacity-90"
        href="https://elemkits.lemonsqueezy.com/checkout/buy/b319a78e-ff0b-4709-9d7e-5e734a06b78c?embed=1"
      >
        Get the Bundle</a
      >
    </section>
    <section
      class="mx-auto w-[700px] space-y-4 rounded-xl border-2 border-main-blue bg-white p-5 shadow-[-5px_5px_#3CA9EB] dark:bg-accent-blue md:mx-0 md:w-full"
    >
      <h1 class="text-xl font-medium">FAQs</h1>
      <div class="faq-item space-y-2">
        <h1
          class="flex cursor-pointer items-center justify-between gap-10 font-medium leading-relaxed"
        >
          What is included in the bundle?
          <TbChevronDown id="down-arrow" className="md:hidden" size={20} />
        </h1>
        <p class="faq-answer hidden leading-relaxed opacity-75">
          Our bundle includes over 500 professionally designed template kits for
          Elementor(a completely different set from the ones that are available
          here for free). These kits cover a wide range of categories and
          styles, including landing pages, blog layouts, e-commerce templates,
          and more.
        </p>
      </div>
      <hr class="h-[1px] border-none bg-dark-blue/25 dark:bg-light-blue/25" />
      <div class="faq-item space-y-2">
        <h1
          class="flex cursor-pointer items-center justify-between gap-10 font-medium leading-relaxed"
        >
          How can I access my bundle after purchase?
          <TbChevronDown id="down-arrow" className="md:hidden" size={20} />
        </h1>
        <p class="faq-answer hidden leading-relaxed opacity-75">
          After your purchase, you will receive immediate access to downloadable
          ZIP files containing all the template kits. Simply download the files,
          unzip them, and you'll find the kits ready to import into your
          Elementor-powered WordPress website.
        </p>
      </div>
      <hr class="h-[1px] border-none bg-dark-blue/25 dark:bg-light-blue/25" />
      <div class="faq-item space-y-2">
        <h1
          class="flex cursor-pointer items-center justify-between gap-10 font-medium leading-relaxed"
        >
          Can I use these kits on multiple websites?
          <TbChevronDown id="down-arrow" className="md:hidden" size={20} />
        </h1>
        <p class="faq-answer hidden leading-relaxed opacity-75">
          Yes, you can! Your purchase of the ElemKits bundle grants you a
          multi-site license. You are free to use these kits on as many websites
          as you own or manage.
        </p>
      </div>
      <hr class="h-[1px] border-none bg-dark-blue/25 dark:bg-light-blue/25" />
      <div class="faq-item space-y-2">
        <h1
          class="flex cursor-pointer items-center justify-between gap-10 font-medium leading-relaxed"
        >
          Do you offer customer support or assistance with template
          customization?
          <TbChevronDown id="down-arrow" className="md:hidden" size={20} />
        </h1>
        <p class="faq-answer hidden leading-relaxed opacity-75">
          Yes, we provide customer support for any technical issues related to
          the kits. However, template customization and website-specific
          assistance are not included. If you need customization help, consider
          hiring a web developer or designer.
        </p>
      </div>
      <hr class="h-[1px] border-none bg-dark-blue/25 dark:bg-light-blue/25" />
      <div class="faq-item space-y-2">
        <h1
          class="flex cursor-pointer items-center justify-between gap-10 font-medium leading-relaxed"
        >
          Can I use these kits for commercial projects and client websites?
          <TbChevronDown id="down-arrow" className="md:hidden" size={20} />
        </h1>
        <p class="faq-answer hidden leading-relaxed opacity-75">
          Yes, you can! Our bundle comes with a commercial license, allowing you
          to use the kits for both personal and commercial projects, including
          client websites and projects.
        </p>
      </div>
      <hr class="h-[1px] border-none bg-dark-blue/25 dark:bg-light-blue/25" />
      <div class="faq-item space-y-2">
        <h1
          class="flex cursor-pointer items-center justify-between gap-10 font-medium leading-relaxed"
        >
          Is there a refund policy in case I'm not satisfied with the bundle?
          <TbChevronDown id="down-arrow" className="md:hidden" size={20} />
        </h1>
        <p class="faq-answer hidden leading-relaxed opacity-75">
          We offer a 30-day satisfaction guarantee. If you're not completely
          satisfied with the ElemKits bundle, simply contact our support team
          within 30 days of purchase, and we'll process a refund for you, no
          questions asked.
        </p>
      </div>
      <hr class="h-[1px] border-none bg-dark-blue/25 dark:bg-light-blue/25" />
      <div class="faq-item space-y-2">
        <h1
          class="flex cursor-pointer items-center justify-between gap-10 font-medium leading-relaxed"
        >
          Are there any ongoing fees or subscriptions required after purchase?
          <TbChevronDown id="down-arrow" className="md:hidden" size={20} />
        </h1>
        <p class="faq-answer hidden leading-relaxed opacity-75">
          No, there are no additional fees or subscriptions required. Your
          purchase of the ElemKits bundle is a one-time payment of $19.
        </p>
      </div>
      <hr class="h-[1px] border-none bg-dark-blue/25 dark:bg-light-blue/25" />
      <div class="faq-item space-y-2">
        <h1
          class="flex cursor-pointer items-center justify-between gap-10 font-medium leading-relaxed"
        >
          Are the kits customizable to match my brand's style and colors?
          <TbChevronDown id="down-arrow" className="md:hidden" size={20} />
        </h1>
        <p class="faq-answer hidden leading-relaxed opacity-75">
          Absolutely! All our Elementor template kits are fully customizable.
          You can easily change colors, fonts, images, and content to align the
          templates with your brand's unique style and preferences. Elementor's
          intuitive interface makes customization a simple process.
        </p>
      </div>
    </section>
  </main>
</Base>

<script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>

<script>
  const faqItems = document.querySelectorAll(".faq-item");

  faqItems.forEach((item) => {
    const question = item.querySelector("h1");
    const answer = item.querySelector(".faq-answer");
    const downArrow = item.querySelector("#down-arrow");

    question.addEventListener("click", () => {
      answer.classList.toggle("hidden");
      downArrow.classList.toggle("rotate-180");
    });
  });
</script>
