---
import Base from "@layouts/Base.astro";
import * as ReactIcons from "react-icons/io";
const { IoIosThumbsUp, IoIosThumbsDown } = ReactIcons;
---

<Base
  title="License"
  meta_title="License"
  description="To ensure a clear understanding of the permitted usage of the Elementor template kits available on this website, please read and adhere to the following guidelines"
  image="/images/og-image.jpg"
>
  <main class="mx-auto mb-12 w-[750px] space-y-8 p-5 md:mx-0 md:w-full md:p-4">
    <div class="w-full space-y-2">
      <h1 class="text-30px font-medium">License Statement</h1>
      <p class="leading-relaxed">
        To ensure a clear understanding of the permitted usage of the Elementor
        template kits available on this website, please read and adhere to the
        following guidelines:
      </p>
    </div>
    <div class="space-y-3">
      <IoIosThumbsUp className="text-main-blue" size={40} />
      <h2 class="text-xl font-medium">You CAN:</h2>
      <ul class="list-inside list-disc space-y-3">
        <li class="leading-relaxed">
          Opt not to credit ElemKits, but it is always appreciated.
        </li>
        <li class="leading-relaxed">
          Use the template kits for both personal and commercial projects,
          without any limitations on the number of projects.
        </li>
        <li class="leading-relaxed">
          Customize and modify the template kits to align with your specific
          needs and project requirements.
        </li>
      </ul>
    </div>
    <div class="space-y-3">
      <IoIosThumbsDown className="text-red-400" size={40} />
      <h2 class="text-xl font-medium">You CANNOT:</h2>
      <ul class="list-inside list-disc">
        <li class="leading-relaxed">
          resell the template kits as standalone products, whether in their
          original form or modified. They should always be integrated into a
          website project.
        </li>
      </ul>
    </div>
  </main>
</Base>
