---
import Base from "@layouts/Base.astro";
---

<Base title="Privacy Policy" meta_title="Privacy Policy">
  <main class="mx-auto mb-12 w-[700px] space-y-6 p-5 md:mx-0 md:w-full">
    <h1 class="text-30px font-medium">Privacy Policy</h1>

    <p class="leading-relaxed">
      At ElemKits, the privacy and security of the users' personal information
      are important. This Privacy Policy outlines the types of personal
      information collected and how it is used and protected. Please read this
      Privacy Policy carefully to understand the practices regarding your
      personal data.
    </p>
    <h2 class="text-xl font-medium">1. Information Collection</h2>
    <p class="leading-relaxed">
      When a user downloads a template kit from the ElemKits website, a
      third-party service collects the user's email address. This information is
      necessary to deliver the downloaded template kit and provide communication
      regarding the purchase.
    </p>
    <h2 class="text-xl font-medium">2. Use of Information</h2>
    <p class="leading-relaxed">
      The collected email address is used solely for the purpose of delivering
      the downloaded template kit and offering customer support. This
      information is not shared with any third parties or used for any other
      purposes.
    </p>
    <h2 class="text-xl font-medium">3. Third-Party Websites</h2>
    <p class="leading-relaxed">
      The ElemKits website contains links to third-party websites. It's
      important to note that the privacy practices of these websites are
      separate and independent. Users are encouraged to review the privacy
      policies of any third-party websites they visit.
    </p>
    <h2 class="text-xl font-medium">4. Children's Privacy</h2>
    <p class="leading-relaxed">
      The ElemKits website is not intended for individuals under the age of 13.
      No intentional collection of personal information from children occurs. If
      personal information has been inadvertently collected from a child under
      the age of 13, it will be promptly deleted.
    </p>
    <h2 class="text-xl font-medium">5. Security</h2>
    <p class="leading-relaxed">
      Reasonable measures are taken to protect the security of users' personal
      information. However, please be aware that no method of transmission over
      the internet or electronic storage is completely secure. Therefore,
      absolute security cannot be guaranteed.
    </p>
    <h2 class="text-xl font-medium">6. Changes to the Privacy Policy</h2>
    <p class="leading-relaxed">
      The Privacy Policy may be modified or updated at any time. Any changes
      will be posted on this page. Users are encouraged to review this Privacy
      Policy periodically for updates.
    </p>
    <h2 class="text-xl font-medium">7. Get in touch</h2>
    <p class="leading-relaxed">
      If you have any questions or concerns about this Privacy Policy, please
      don't hesitate to
      <a aria-label="contact" class="text-main-blue" href="/contact">reach out</a>
    </p>
    <p class="leading-relaxed">
      By using the ElemKits website, users signify their consent to the terms of
      this Privacy Policy.
    </p>
  </main>
</Base>
