---
import Base from "@layouts/Base.astro";
---

<Base title="Terms of Use" meta_title="Terms of Use">
  <main class="mx-auto mb-12 w-[700px] space-y-6 p-5 md:mx-0 md:w-full">
    <h1 class="text-30px font-medium">Terms of Use</h1>

    <p class="leading-relaxed">
      These Terms of Use ("Agreement") govern your access to and use of the
      website and services provided by ElemKits. By accessing or using this
      website, you agree to be bound by this Agreement.
    </p>
    <h2 class="text-xl font-medium">1. Usage Guidelines</h2>
    <p class="leading-relaxed">
      The Template Kits are provided under the following license terms:
    </p>
    <li class="leading-relaxed">
      You are granted a non-exclusive, non-transferable license to use the
      Template Kits for both personal and commercial projects.
    </li>
    <li class="leading-relaxed">
      You may customize and modify the Template Kits to align with your specific
      needs and project requirements.
    </li>
    <li class="leading-relaxed">
      You have the option not to credit ElemKits when using the Template Kits,
      although it is always appreciated.
    </li>
    <h2 class="text-xl font-medium">2. Usage Restrictions</h2>
    <p class="leading-relaxed">
      You are strictly prohibited from reselling the Template Kits as standalone
      products, whether in their original form or modified. The Template Kits
      should always be integrated into a website project.
    </p>
    <h2 class="text-xl font-medium">3. Intellectual Property Rights</h2>
    <p class="leading-relaxed">
      All intellectual property rights, including copyrights, trademarks, and
      any other proprietary rights, associated with the Template Kits and the
      website, belong to ElemKits or its licensors. This Agreement does not
      grant you any rights or licenses, express or implied, to the intellectual
      property of ElemKits, except as expressly stated herein.
    </p>
    <h2 class="text-xl font-medium">
      4. Disclaimer of Warranty and Limitation of Liability
    </h2>
    <p class="leading-relaxed">
      The Template Kits available on this website are provided on an "as-is" and
      "as available" basis, without any warranties, representations, or
      guarantees, whether express, implied, or statutory.
    </p>
    <p class="leading-relaxed">
      In no event shall ElemKits, its directors, officers, employees, or agents
      be liable for any indirect, incidental, special, consequential, or
      punitive damages arising out of or in connection with the use of the
      website or the Template Kits.
    </p>
    <h2 class="text-xl font-medium">5. Termination</h2>
    <p class="leading-relaxed">
      If any attempt is made to employ the website and template kits for
      fraudulent purposes, the authority is reserved to promptly suspend or
      terminate your access to both the website and the Template Kits, without
      any prior notice or legal responsibility.
    </p>
    <h2 class="text-xl font-medium">6. Modifications</h2>
    <p class="leading-relaxed">
      The Agreement may undergo modifications or updates periodically. Your
      continued use of the website and the Template Kits after any modifications
      shall constitute your acceptance of the updated Agreement.
    </p>
    <h2 class="text-xl font-medium">7. Governing Law</h2>
    <p class="leading-relaxed">
      This Agreement shall be governed by and interpreted in accordance with the
      laws applicable in the relevant jurisdiction, without considering its
      principles of conflicts of laws.
    </p>
    <h2 class="text-xl font-medium">8. Get in touch</h2>
    <p class="leading-relaxed">
      If you have any questions or concerns about this Agreement, please don't
      hesitate to <a aria-label="contact" class="text-main-blue" href="/contact">reach out</a>
    </p>
    <p class="leading-relaxed">
      By using this website and the Template Kits, you acknowledge that you have
      read, understood, and agreed to be bound by these Terms of Use.
    </p>
  </main>
</Base>
