---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Posts from "@layouts/Posts.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { sortByDate } from "@lib/utils/sortFunctions";
import { HiOutlineSearch } from "react-icons/hi/index";
import { BsStars } from "react-icons/bs/index";
import BackToTop from "@layouts/components/BackToTop.astro";

export async function getStaticPaths() {
  const posts = await getSinglePage("posts");
  const totalPages = Math.ceil(posts.length / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalPages; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}

const { slug } = Astro.params;
const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastPost = currentPage * config.settings.pagination;
const indexOfFirstPost = indexOfLastPost - config.settings.pagination;
const currentPosts = sortedPosts.slice(indexOfFirstPost, indexOfLastPost);
---

<Base>
  <section class="w-full space-y-5 p-5 text-center md:mx-0 md:space-y-4 md:p-4">
    <h1 class="mx-auto w-[650px] text-40px font-medium md:mx-0 md:w-full">
      Quickly build <span class="text-main-blue">entire</span> Elementor websites
      for <span class="text-main-blue">every niche.</span>
    </h1>
    <div class="flex items-center justify-center gap-3 450:flex-col">
      <a
        aria-label="500+ Kits Bundle"
        class="hover-transition flex w-fit items-center justify-center gap-2 rounded-xl bg-gradient-to-tr from-cyan-500 via-purple-500 to-pink-500 p-4 font-medium text-light-blue shadow-2xl shadow-purple-500/60 hover:opacity-90 450:w-full 450:p-0 450:py-4"
        href="/bundle"
      >
        <BsStars size={20} />
        500+ Kits Bundle</a
      >
      <a
        aria-label="Search all kits"
        class="hover-transition group flex w-fit items-center justify-center gap-2 rounded-xl bg-main-blue/10 p-4 font-medium hover:bg-main-blue/20 450:w-full 450:p-0 450:py-4"
        href="/search"
      >
        <HiOutlineSearch
          className="group-hover:text-main-blue hover-transition"
          size={20}
        />
        Search all kits</a
      >
    </div>
  </section>
  <section>
    <div>
      <Posts posts={currentPosts} />
      <Pagination totalPages={totalPages} currentPage={currentPage} />
    </div>
  </section>
  <BackToTop />
</Base>
